
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
/* global styles */
*{
    margin: 3px;
    padding: 3px;
    box-sizing: border-box;
}

body {
    font-family: "Inter", serif;
    background-image: linear-gradient(180deg,rgba(17, 17, 17, 0.9),rgba(119, 119, 119, 0.7) 100%);
    color: #fff;
    line-height: 1.6;
}

/* Header */
header {
    background: #333;
    padding: 1rem;
    text-align: center;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav h3 {
    font-size: 24px;
    font-weight: bold;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

@media screen and (max-width:576) {
    header {
        display: flex;
        flex-direction: column;
    }
}


/* hero style */
.hero {
    display: inline-flexbox;
    background-color: #333;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.hero-image {
    border-radius: 100%;
    border: 50px solid black;
    height: 320px;
    width: 320px;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.596);
    margin-bottom: 20px;
}

.hero-image img {
    width: 100%;
}

.hero h1 {
    font-size: 90px;
    margin-bottom: 3px;
}

.hero p {
    font-size: 24px;
    margin-bottom: 3px;
    max-width: 600px;
}

button {
    display: inline-flex;
    padding: 10px 20px;
    margin: 10px;
    background: #f04;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background: #d03;
}

.stats {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background: #333;
}

.stats div{
    text-align: center;
}

.stats h2 {
    font-size: 2rem;
    color: white;
}

@media screen and (max-width:576px) {
    .hero {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .hero-image {
        width: 60%;
        height: 60%;
    }
    .hero h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
    }
}

/* services style */
.services {
    margin: 0 auto;
    background-color: black;
    padding: 30px 10px;
    text-align: center;
    border-radius: 10px;
}

.service-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service-item {
    margin: 20px;
    padding: 20px;
    background: black;
    width: 300px;
}
.service-item img {
    border-radius: 100%;
}


/* run style */
.run {
    display: flex;
    background-color: #333;
    align-items: center;
    justify-content: center;
    padding: 30px 30px;
    margin-left: 10px;
    border-radius: 10px;
}

.run-content {
    text-align: center;
}

.run-content h3 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 15px;
}

.run-content p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
}

.run-img {
    width: 100%;
}

.run-img img{
    width: 50%;
    height: 50%;
    border-radius: 10px;
}


/*@media screen and (max-width: 576px) {
    .run {
        flex-direction: row-reverse;
    }
    .run-content {
        text-align: left;
    }
    .run-image {
        margin-right: 150px;
    }
}*/







